<mat-card class="g-card">
  <mat-card-header>
    <mat-card-title class="g-card-title"
      >{{ user.firstName | uppercase }}
      {{ user.lastName | uppercase }}
    </mat-card-title>
    <mat-card-subtitle class="g-card-subtitle"
      >{{ user.client }} - {{ user.role }}</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content class="g-card-content">
    <p>{{ user.email }}</p>
    <p>+{{ user.countryCode }} {{ user.number }}</p>
    <p>{{ user.isActive }}</p>
  </mat-card-content>
</mat-card>
