.l-home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.l-empty-collection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.l-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.l-add-user-btn {
  margin-top: 16px;
}
