.l-top-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.l-left-buttons {
  display: flex;
  gap: 8px;
  align-items: center;
}

.l-form {
  display: flex;
  padding-top: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

.l-mobile-number {
  display: flex;
}
.l-country-code {
  width: 54px;
}
